@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

/*Barra de Navegación*/
header{
    background-color: rgb(158, 92, 156);
    display: grid;
    width: 100%;
    padding-bottom: 2rem;
}
header h1 {
    width: 1rem;
    height: 1rem;
    margin-left: 1.5rem;
    font-size: 40px;
    padding-top: 0;
}
.nav.is_active{
    transform: translate3d(0px, 0px, 0px);
  }
.nav{
    background-color: rgb(158, 92, 156);
    bottom: 0;
    height: 11%;
    left: 0rem;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
  }
.nav ul{
    margin:0;padding:0;
    padding-left: 10rem;
}
.nav ul li { 
    list-style: none;
    text-align:center;
    color: black;
    font-size: 14px;
    line-height: 3em;
    height: 1.1rem;
    color:#000;
    text-transform:none;
    font-weight:bold;
}
  .nav ul li a{
    text-decoration:none;
    color:black;
  }
  .nav ul li a:hover{
    text-decoration:none;
    color: black;
  }


.hamburger{
	position: absolute;
    background-color:transparent;
	right:0;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	z-index:1002;
	cursor:pointer;
    margin-right: 2rem;
}

._layer{
	background:black;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
}


.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}
  
header img{
    display: none;
    width: 2rem;
    height: 3rem;
    border-radius: 10px;
}

/*titulos*/
h2{
    margin-top: 1rem;
    text-align: center;
    font-size: 21px;
}
.titleMain{
    margin-top: 3.5rem;
}
/*Acerca de mi*/
.acercaDeMi {
    margin: 1rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
}


.acercaDeMi p {
    width: 100%;
    text-align: justify;
    align-content: center;
    font-size: 16px;
}

.acercaDeMi img{
    width: 23rem;
}

/*Habilidades*/
.habilidadesCompletas{
    background-color: rgba(158, 92, 156, 0.50);
    padding-top: 1.5rem;
    margin: 1.5rem;
}

.habilidades {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.habilidades p{
    width: 100%;
    font-size: 16px;
    text-align: justify;
}
.habilidades ul{
    width: 100%;
    padding-left: 0.5rem;
    font-size: 16px;
    text-align: justify;
}
.habilidades img{
    width: 100%;
    padding-bottom: 1rem;
}
.habilidadesPorcentaje{
    display: grid;
    row-gap: 1.2rem;
}
.habilidad{
    display: grid;
    grid-template-columns: 43% 57%;
    align-items: center;
}
.habilidades a{
    display: list-item;
    list-style: none;
    font-size: 16px;
    color: black;
}
.habilidades i {
    font-size: 20px;
    padding-right: 1rem;
}

/*Portafolio*/
.portafolio{
    display: grid;
    padding-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    font-size: 16px;
    text-align: center;

}

.portafolio .proyectoDulce {
    background-color: #9e5c9c80;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 3rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.proyectoDulce img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.proyectoDulce p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.proyectoDulce i{
    margin-top: 1rem;
    font-size: 30px;
    color: #000;
    width: 100%;
}

.portafolio .proyectoEnProgeso1{
    background-color: rgba(158, 92, 156, 0.50);
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.proyectoEnProgeso1 img{
    margin-top: 5rem;
    margin-bottom: 8rem;
    width: 100%;
}
.portafolio .proyectoEnProgeso2{
    background-color: rgba(158, 92, 156, 0.50);
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
    width: 100%;
    margin-bottom: 1rem;
}
.proyectoEnProgeso2 img{
    margin-top: 5rem;
    margin-bottom: 7rem;
    width: 100%;
}

/*Contacto*/
.contacto{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 1rem;
    font-size: 16px;
    margin-left: 1rem;
}

.contacto p{
    text-align: justify;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 95%;
}

.contacto a{
    display: list-item;
    list-style: none;
    margin-bottom: 0.4rem;
}

.contacto i{
    font-size: 20px;
    margin-right: 1rem;
}

.contacto img{
    width: 100%;
    height: 181.469px;

}

.contacto form{
    margin-top: 1rem;
    font-family: "Raleway";
    width: 100%;
}

.contacto .campo{
    display: flow-root;
    width: 91%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #F5F5F5;    
    color: #000;
    font-size: 16px;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.contacto textarea{
    width: 91%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #F5F5F5;
    display: flex;
    color: #000;
    font-size: 16px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.contacto .boton{
    width: 130px;
    height: 63px;
    border-radius: 10px;
    border: 1px solid rgba(158, 92, 156, 0.50);
    background: rgba(158, 92, 156, 0.50);
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-left: 30%;
}

/*Footer*/
footer{
    background-color: rgb(158, 92, 156);
    display: inline-table;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

footer p{
    display: inline;
    margin-right: 1rem;
    font-weight: bold;
}
footer a{
    font-size: 20px;
    color: #000;
    margin-right: 0.5rem;
}

footer i{
    padding-top: 0.5rem;
}


@media (min-width: 768px) {
    /*Barra de Navegación*/
    header{
        background-color: rgb(158, 92, 156);
        display: flex;
        width: 100%;
        padding-bottom: 2.6rem;
    }
    header h1 {
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        font-size: 45px;
        padding-top: 0;
    }
    .nav.is_active{
        transform: translate3d(0px, 0px, 0px);
    }
    .nav{
        background-color: transparent;
        bottom: 0;
        height: 5%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
        
    }
    .nav ul{
        margin:0;padding:0;
        margin-left: 10rem;
    }
    .nav ul li { 
        list-style: none;
        display: inline;
        color: black;
        font-size: 18px;
        line-height: 3em;
        height: 1.1rem;
        color:#000;
        text-transform:none;
        font-weight:bold;
        
    }
    .nav ul li a{
        text-decoration:none;
        color:black;
        margin-right: 1rem;
    }
    .nav ul li a:hover{
        text-decoration:none;
        color: black;
    }


    .hamburger{
        position: absolute;
        background-color:transparent;
        right:0;
        top:0;
        height:30px;
        width:30px;
        padding:20px 20px;
        z-index:1002;
        cursor:pointer;
    }

    ._layer{
        background:black;
        margin-bottom:4px;
        border-radius:2px;
        width:28px;
        height:4px;
        opacity:1;   
    }

    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
        opacity:0;
    }
    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }
    
    header img{
        display: none;
        width: 2rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 10px;
    }

    /*titulos*/
    h2{
        margin-top: 1rem;
        text-align: center;
        font-size: 24px;
    }
    .titleMain{
        margin-top: 1rem;
    }
    /*Acerca de mi*/
    .acercaDeMi {
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .acercaDeMi p {
        width: 100%;
        text-align: justify;
        margin-right: 2rem;
        margin-left: 1rem;
        align-content: center;
        padding-top: 0.5rem;
        font-size: 16px;
    }

    .acercaDeMi img{
        width: 100%;
        height: 100%;
        margin-left: 2rem;
    }

    /*Habilidades*/
    .habilidadesCompletas{
        background-color: rgba(158, 92, 156, 0.50);
        padding-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .habilidades {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .habilidades p{
        width: 100%;
        font-size: 16px;
        text-align: justify;
    }
    .habilidades ul{
        width: 90%;
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 16px;
        text-align: justify;
    }
    .habilidades img{
        width: 50%;
        padding-bottom: 1rem;
        margin-left: 25%;
    }
    .habilidades a{
        display: list-item;
        list-style: none;
        font-size: 16px;
        padding-top: 1rem;
        padding-left: 5rem;
        margin-left: 30%;
    }
    .habilidades i {
        font-size: 30px;
        padding-right: 1rem;
    }

    /*Portafolio*/
    .portafolio{
        display: grid;
        padding-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 16px;
        text-align: center;
    
    }

    .portafolio .proyectoDulce {
        background-color: #9e5c9c80;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-radius: 3rem;
        width: 97%;
        margin-bottom: 1.5rem;
    }
    .proyectoDulce img{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    .proyectoDulce p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .proyectoDulce i{
        margin-top: 1rem;
        font-size: 30px;
        color: #000;
        width: 100%;
    }

    .portafolio .proyectoEnProgeso1{
        background-color: rgba(158, 92, 156, 0.50);
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        border-radius: 3rem;
        width: 93%;
        margin-bottom: 1.5rem;
        margin-left: 0.5rem;
    }
    .proyectoEnProgeso1 img{
        margin-top: 5rem;
        margin-bottom: 8rem;
        width: 100%;
    }
    .portafolio .proyectoEnProgeso2{
        background-color: rgba(158, 92, 156, 0.50);
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        border-radius: 3rem;
        width: 90%;
        margin-bottom: 1rem;
    }
    .proyectoEnProgeso2 img{
        margin-top: 5rem;
        margin-bottom: 7rem;
        width: 100%;
    }

    /*Contacto*/
    .contacto{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 1rem;
        font-size: 16px;
        margin-left: 1rem;
    }

    .contacto p{
        text-align: justify;
        margin-right: 2rem;
        margin-bottom: 2rem;
        width: 92%;
        padding-left: 1rem;
    }

    .contacto a{
        display: list-item;
        list-style: none;
        margin-bottom: 0.5rem;
        padding-left: 1rem;
    }

    .contacto i{
        font-size: 25px;
        margin-right: 1rem;
    }

    .contacto img{
        width: 100%;
        height: 300px;

    }

    .contacto form{
        margin-top: 1rem;
        font-family: "Raleway";
        width: 100%;
    }

    .contacto .campo{
        display: flow-root;
        width: 90%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #000;
        background: #F5F5F5;    
        color: #000;
        font-size: 16px;
        padding-left: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .contacto textarea{
        width: 90%;
        height: 100px;
        border-radius: 10px;
        border: 1px solid #000;
        background: #F5F5F5;
        display: flex;
        color: #000;
        font-size: 16px;
        padding-top: 4.5rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .contacto .boton{
        width: 130px;
        height: 63px;
        border-radius: 10px;
        border: 1px solid rgba(158, 92, 156, 0.50);
        background: rgba(158, 92, 156, 0.50);
        color: #000;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        margin-left: 40%;
    }

    /*Footer*/
    footer{
        background-color: rgb(158, 92, 156);
        display: inline-table;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 20px;
        vertical-align: middle;
        text-align: center;
    }

    footer p{
        display: inline;
        margin-right: 1rem;
        font-weight: bold;
    }
    footer a{
        font-size: 25px;
        color: #000;
        margin-right: 0.5rem;
    }

    footer i{
        padding-top: 0.5rem;
    }
}


@media (min-width: 1023px) {
    /*Barra de Navegación*/
    header{
        background-color: rgb(158, 92, 156);
        display: flex;
        width: 100%;
        padding-bottom: 3.2rem;
        
    }
    header h1 {
        width: 2rem;
        height: 2rem;
        margin-left: 3rem;
        font-size: 70px;
        padding-top: 0;
    }
    .nav.is_active{
        display: none;
        transform: none;
      }
    .nav{
        background-color: transparent;
        height: 10%;
        overflow-y: none;
        position: absolute;
        width: 90%;
        transform: translate3d(0px, 0px, 0px);
        margin-left: 10rem;
      }
    .nav ul{
        margin:rem;
        padding:0.5rem;
    }
    .nav ul li { 
        list-style: none;
        text-align:center;
        color: black;
        font-size: 24px;
        height: 1.1rem;
        color:#000;
        font-weight:bold;
    }
    .nav ul li a{
        text-decoration:none;
        color:black;
    }
    .nav ul li a:hover{
        text-decoration:none;
        color: black;
    }
    .hamburger{
        display: none;
    }

    /*titulos*/
    h2{
        margin-top: 2rem;
        text-align: center;
        font-size: 36px;
    }
    /*Acerca de mi*/
    .acercaDeMi {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .acercaDeMi p {
        width: 100%;
        text-align: justify;
        margin-right: 1rem;
        align-content: center;
        padding-top: 1rem;
        font-size: 21px;
    }


    .acercaDeMi img{
        width: 100%;
        margin-left: 3rem;
    }


    /*Habilidades*/
    .habilidadesCompletas{
        background-color: rgba(158, 92, 156, 0.50);
        padding-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .habilidades {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 2rem;
        place-items: center;
    }
    .habilidades p{
        padding-right: 1rem;
        font-size: 16px;
        text-align: justify;
        padding-left: 1rem;
    }
    .habilidades ul{
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 1rem;
        font-size: 16px;
        text-align: justify;
    }
    .habilidades img{
        width: 100%;
        margin-left: 0;
    }
    .habilidades a{
        display: list-item;
        list-style: none;
        font-size: 16px;
        padding-left: 0rem;
        width: 100%;
        margin-left: 0;
        padding-top: 0;

    }
    .habilidades i {
        font-size: 30px;
        padding-right: 0rem;
    }
    .habilidad{
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
    }

    /*Portafolio*/
    .portafolio{
        display: grid;
        padding-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: 32% 32% 32%;
        font-size: 21px;
        text-align: center;
        place-content: center;
    
    }

    .portafolio .proyectoDulce {
        background-color: rgba(158, 92, 156, 0.50);
        padding: 2rem 1rem;
        border-radius: 3rem;
        width: fit-content;
        height: 35rem;
    }
    .proyectoDulce img{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .proyectoDulce i{
        margin-top: 1rem;
        font-size: 40px;
        color: #000;
    }

    .portafolio .proyectoEnProgeso1{
        background-color: rgba(158, 92, 156, 0.50);
        padding: 2rem 1rem;
        margin-left: 0.7rem;
        border-radius: 3rem;
        width: fit-content;
        height: 35rem;
    }
    .proyectoEnProgeso1 img{
        margin-top: 7rem;
    }
    .portafolio .proyectoEnProgeso2{
        background-color: rgba(158, 92, 156, 0.50);
        padding: 2rem 1rem;
        margin-left: 0.7rem;
        border-radius: 3rem;
        width: fit-content;
        height: 35rem;
    }
    .proyectoEnProgeso2 img{
        margin-top: 6rem;
    }

    /*Contacto*/
    .contacto{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 21px;
        margin-left: 2rem;
    }

    .contacto p{
        text-align: justify;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .contacto a{
        display: list-item;
        list-style: none;
        margin-bottom: 1rem;
    }

    .contacto i{
        font-size: 30px;
        margin-right: 1rem;
    }

    .contacto img{
        width: 231.474px;
        height: 181.469px;
        margin-left: 12rem;
    }

    .contacto form{
        margin-top: 0.5rem;
        font-family: "Raleway";
        margin-left: 1rem;
    }

    .contacto .campo{
        display: flow-root;
        width: 560px;
        height: 48px;
        border-radius: 10px;
        border: 1px solid #000;
        background: #F5F5F5;    
        color: #000;
        font-size: 21px;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }

    .contacto textarea{
        width: 560px;
        height: 128px;
        border-radius: 10px;
        border: 1px solid #000;
        background: #F5F5F5;
        display: flex;
        color: #000;
        font-size: 21px;
        padding-top: 4.5rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    .contacto .boton{
        width: 208px;
        height: 63px;
        border-radius: 10px;
        border: 1px solid rgba(158, 92, 156, 0.50);
        background: rgba(158, 92, 156, 0.50);
        color: #000;
        font-size: 21px;
        font-weight: bold;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        margin-left: 1rem;
    }

    /*Footer*/
    footer{
        background-color: rgb(158, 92, 156);
        display: inline-table;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 21px;
        vertical-align: middle;
        text-align: center;
    }

    footer p{
        display: inline;
        margin-right: 1rem;
        font-weight: bold;
    }
    footer a{
        font-size: 30px;
        color: #000;
        margin-right: 0.5rem;
    }

    footer i{
        padding-top: 0.5rem;
    }
}